<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Add Employee</title>
</head>
<body>
<div class="container-fluid">
    <h1>Add Employee</h1>
    <form th:object="${drugs}" method="post" th:action="@{/addnewDrugs}" class="form">
        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">Drug Name</label>
            <input type="text"  id="name" th:field="*{drug_name}" class="form-control">
            <span th:if="${#fields.hasErrors('drug_name')}" th:errors="*{drug_name}" style="color:red"></span>
        </div>
        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">Drug Type</label>
            <input type="text"  id="type" th:field="*{drug_type}" class="form-control">

        </div>
        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">Drug Price</label>
            <input type="text"  id="price" th:field="*{drug_price}" class="form-control">

        </div>
        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">Drug Capacity</label>
            <input type="text"  id="capacity" th:field="*{drug_capacity}" class="form-control">

        </div>
        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">Brand ID</label>
            <input type="text"  id="bid" th:field="*{brand_id}" class="form-control">

        </div>
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-danger" type="button" onclick="location.href='/viewcategory'">Cancel</button>
    </form>
</div>
</body>
</html>